src/it/resources/test-applications/erww-lite/WebOrderStatusLite_WS_Client/src/main/webapp/WEB-INF/wsdl/OrderStatusImplService.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="OrderStatusImplService" targetNamespace="http://ws.lite.orderstatus/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.lite.orderstatus/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://ws.lite.orderstatus/">
  <xs:element name="getOrderStatus" type="tns:getOrderStatus"/>
  <xs:element name="getOrderStatusResponse" type="tns:getOrderStatusResponse"/>
  <xs:element name="printOrderStatusOutput" type="tns:printOrderStatusOutput"/>
  <xs:element name="printOrderStatusOutputResponse" type="tns:printOrderStatusOutputResponse"/>
  <xs:complexType name="printOrderStatusOutput">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:orderStatusOutput"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="orderStatusOutput">
    <xs:sequence>
      <xs:element name="outCustomerBalance" type="xs:double"/>
      <xs:element name="outCustomerDistrictId" type="xs:short"/>
      <xs:element minOccurs="0" name="outCustomerFirstName" type="xs:string"/>
      <xs:element name="outCustomerId" type="xs:short"/>
      <xs:element minOccurs="0" name="outCustomerLastName" type="xs:string"/>
      <xs:element minOccurs="0" name="outCustomerMiddleName" type="xs:string"/>
      <xs:element name="outCustomerWarehouseId" type="xs:short"/>
      <xs:element minOccurs="0" name="outErrorMsg" type="xs:string"/>
      <xs:element name="outOrderCarrierId" type="xs:short"/>
      <xs:element minOccurs="0" name="outOrderEntryDate" type="xs:string"/>
      <xs:element name="outOrderId" type="xs:int"/>
      <xs:element name="outOrderLineCount" type="xs:short"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="outOrderLines" nillable="true" type="tns:orderLineSingleItem"/>
      <xs:element minOccurs="0" name="retc" type="xs:string"/>
      <xs:element minOccurs="0" name="stcnum" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="orderLineSingleItem">
    <xs:sequence>
      <xs:element name="outOlAmount" type="xs:double"/>
      <xs:element minOccurs="0" name="outOlDeliveryDate" type="xs:string"/>
      <xs:element name="outOlItemId" type="xs:int"/>
      <xs:element name="outOlQuantity" type="xs:double"/>
      <xs:element name="outOlSupplyWarehouseId" type="xs:short"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="printOrderStatusOutputResponse">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="getOrderStatus">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:orderStatusInput"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="orderStatusInput">
    <xs:sequence>
      <xs:element name="distributedEJBs" type="xs:boolean"/>
      <xs:element name="inByLastName" type="xs:boolean"/>
      <xs:element name="inCustomerDistrictId" type="xs:short"/>
      <xs:element name="inCustomerId" type="xs:short"/>
      <xs:element minOccurs="0" name="inCustomerLastName" type="xs:string"/>
      <xs:element name="inCustomerWarehouseId" type="xs:short"/>
      <xs:element name="useCmp" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getOrderStatusResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:orderStatusOutput"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SQLException" type="tns:SQLException"/>
  <xs:complexType name="SQLException">
    <xs:sequence>
      <xs:element name="message" nillable="true" type="xs:string"/>
      <xs:element name="sQLState" nillable="true" type="xs:string"/>
      <xs:element name="errorCode" nillable="true" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Exception" type="tns:Exception"/>
  <xs:complexType name="Exception">
    <xs:sequence>
      <xs:element name="message" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IOException" type="tns:IOException"/>
  <xs:complexType name="IOException">
    <xs:sequence>
      <xs:element name="message" nillable="true" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="String" nillable="true" type="xs:string"/>
</xs:schema>  </wsdl:types>
  <wsdl:message name="IOException">
    <wsdl:part element="tns:IOException" name="IOException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="SQLException">
    <wsdl:part element="tns:SQLException" name="SQLException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ERWWDataNotFoundException">
    <wsdl:part element="tns:String" name="ERWWDataNotFoundException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="Exception">
    <wsdl:part element="tns:Exception" name="Exception">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getOrderStatus">
    <wsdl:part element="tns:getOrderStatus" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getOrderStatusResponse">
    <wsdl:part element="tns:getOrderStatusResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="printOrderStatusOutput">
    <wsdl:part element="tns:printOrderStatusOutput" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="printOrderStatusOutputResponse">
    <wsdl:part element="tns:printOrderStatusOutputResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="OrderStatusImpl">
    <wsdl:operation name="printOrderStatusOutput">
      <wsdl:input message="tns:printOrderStatusOutput" name="printOrderStatusOutput">
    </wsdl:input>
      <wsdl:output message="tns:printOrderStatusOutputResponse" name="printOrderStatusOutputResponse">
    </wsdl:output>
      <wsdl:fault message="tns:SQLException" name="SQLException">
    </wsdl:fault>
      <wsdl:fault message="tns:IOException" name="IOException">
    </wsdl:fault>
      <wsdl:fault message="tns:Exception" name="Exception">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getOrderStatus">
      <wsdl:input message="tns:getOrderStatus" name="getOrderStatus">
    </wsdl:input>
      <wsdl:output message="tns:getOrderStatusResponse" name="getOrderStatusResponse">
    </wsdl:output>
      <wsdl:fault message="tns:SQLException" name="SQLException">
    </wsdl:fault>
      <wsdl:fault message="tns:IOException" name="IOException">
    </wsdl:fault>
      <wsdl:fault message="tns:ERWWDataNotFoundException" name="ERWWDataNotFoundException">
    </wsdl:fault>
      <wsdl:fault message="tns:Exception" name="Exception">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="OrderStatusImplServiceSoapBinding" type="tns:OrderStatusImpl">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getOrderStatus">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getOrderStatus">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getOrderStatusResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SQLException">
        <soap:fault name="SQLException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="IOException">
        <soap:fault name="IOException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="ERWWDataNotFoundException">
        <soap:fault name="ERWWDataNotFoundException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="printOrderStatusOutput">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="printOrderStatusOutput">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="printOrderStatusOutputResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SQLException">
        <soap:fault name="SQLException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="IOException">
        <soap:fault name="IOException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OrderStatusImplService">
    <wsdl:port binding="tns:OrderStatusImplServiceSoapBinding" name="OrderStatusImplPort">
      <soap:address location="http://localhost:9080/WebOrderStatusLite_WS/OrderStatusImplService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>